/* Default dark theme — overwritten by matugen when installed */
@font-face {
  font-family: "tabler-icons";
  src: url("../assets/fonts/tabler-icons/tabler-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  --foreground:     #e6e1e5;
  --background:     #1c1b1f;
  --cursor:         #e6e1e5;
  --primary:        #a5c8ff;
  --on-primary:     #003259;
  --secondary:      #bdc7dc;
  --on-secondary:   #283141;
  --tertiary:       #d6bee4;
  --on-tertiary:    #3b2948;
  --surface:        #2b2930;
  --surface-bright: #3b3840;
  --error:          #f2b8b8;
  --error-dim:      #d99090;
  --on-error:       #601410;
  --error-container:#8c1d18;
  --outline:        #928f99;
  --shadow:         #141218;
  --red:            #cf6679;
  --red-dim:        #b04d60;
  --green:          #8bc28b;
  --green-dim:      #6ea46e;
  --yellow:         #e6c07b;
  --yellow-dim:     #c9a45e;
  --blue:           #7aa2f7;
  --blue-dim:       #5d85da;
  --magenta:        #bb9af7;
  --magenta-dim:    #9e7dda;
  --cyan:           #7dcfff;
  --cyan-dim:       #60b2e2;
  --white:          #c0caf5;
}
